/* line 5, /Users/syousuf/code/p/ots/app/assets/stylesheets/customers.scss */
table#customers > thead > tr > th.actions {
  width: 133px;
}

/* line 9, /Users/syousuf/code/p/ots/app/assets/stylesheets/customers.scss */
table#customers > thead > tr > th.id {
  width: 50px;
}

/* line 13, /Users/syousuf/code/p/ots/app/assets/stylesheets/customers.scss */
tr.car_marked_for_delete {
  background-color: palevioletred !important;
}
