/* line 4, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
a.actions {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 8, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.pagination > li > a:visited {
  color: #337ab7 !important;
}

/* line 11, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
td.actions {
  width: 28%;
}

/* line 15, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.modal .modal-body {
  max-height: 630px;
  overflow-y: auto;
}

/* line 20, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
#duplicate_items_modal > .modal-dialog {
  width: 55%;
}

/* line 24, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.price {
  width: 100px !important;
}

/* line 28, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.right-align {
  text-align: right;
}

/* line 32, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
td.location {
  padding-left: 15px;
}

/* line 36, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.default_sale_price {
  color: darkblue;
}

/* line 40, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
#transaction_log > ul > li {
  margin-bottom: 0px;
}

/* line 44, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
#transaction_log > ul > li.active {
  padding-top: 3px;
  font-weight: bold;
}

/* line 49, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
#transaction_log > div.tab-content {
  border-top-width: 1.205px;
  border-style: solid;
}

/* line 54, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
table.transaction_log {
  margin-bottom: 0px;
}

/* line 58, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.item_number_focus {
  color: blue;
}

/* line 62, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.searching {
  font-size: 26px;
}

/* line 66, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
.vertical-top {
  vertical-align: top;
}

/* line 70, /Users/syousuf/code/p/ots/app/assets/stylesheets/items.css.scss */
table#item-pricing > tbody > tr > td {
  padding: 5px;
}
